<!-- <div class="container">
    <div class="navbar">
        <div class="left">
            <img src="../../../assets/Logo (foundation).png" alt="Logo" class="logo">
        </div>
        <div class="middle">
            <h1>Swapratiraksha Arogya Foundation</h1>
        </div>
        <div class="right">
            <a class="one">How we are </a>
            <a class="two">/ What we do</a>
        </div>
    </div>
</div> -->


<!-- Navbar -->
<nav class="navbar navbar-expand-lg  navbar-light bg-info">  <!--fixed-top-->
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand d-flex " href="#">
        <!-- <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="30" alt="" loading="lazy" /> -->
        <img src="../../../assets/Logo (foundation).png" height="30" alt="" loading="lazy" />
        <h1 class="fs-5 mb-0 ms-1" >Swapratiraksha Arogya Foundation</h1>
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Swapratiraksha Arogya Foundation</a>
            </li>
        </ul> -->
      </a>
  
      <!-- Toggle button -->
      <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button> -->
  
      <!-- Collapsible wrapper -->
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
        <!-- Left links -->
        
        <!-- Left links -->
  
        <!-- Search form -->
        <!-- <form class="d-flex input-group w-auto">
          <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
          <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
            Search
          </button>
        </form> -->
        <!-- <ul class="navbar-nav  mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">How we are</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">What we do</a>
          </li>
         
        </ul> -->
        <div class="row w-25">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">How we are</div>
            <div class="col-6 col-sm-6  col-md-6 col-lg-6">What we do</div>
        </div>
  
      <!-- </div> -->
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->